<div class="d-flex">
  <!-- Inicio SideBar -->
  <div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">Gifs-App</h3>
  <hr class="text-light">
  <div class="list-group list-reset"></div>
    <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
  </div>
  <!-- Fin SideBar -->

  <div class="container">
    <div class="row p-3">
     <div class="col">
      <h5>Buscar: </h5>
      <input type="text" class="form-control" placeholder="Buscar">
    </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi sunt aliquam sequi minus nam. Unde, ducimus dicta natus nesciunt, deserunt recusandae nobis quas aliquam quos neque sapiente, optio voluptatem amet.
      </div>
    </div>
  </div>

</div>